html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
    padding-block-start:0;
    padding-block-end:0;
    padding-inline-start:0;
    padding-inline-end:0;
    list-style-type: none;
}

body {
    font-family: Roboto, serif;
    font-size: 16px;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

/*img {*/
/*    vertical-align: middle;*/
/*}*/

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    height: 2.2rem;
    background-color: #212529;
    font-size: 1.1rem;
    font-weight: 400;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu .menu__item {
    margin-left: 1rem;
    color: white;
}

.menu .menu__item:hover {
    cursor: pointer;
}

.menu__item.active{
    color: cornflowerblue;
    /*text-decoration: underline;*/
}

.container {
    padding: 1em;
    max-width: 991px;
    margin: 2em auto 0 auto;
    font-size: 1.2em;
}

.disabled {
    display: none !important;
}

.resume-list__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1.7em;
    align-items: center;
    padding: 0 0.2em;
}

.resume-list__item:first-child {
    font-weight: 600;
}

.resume-list__item:nth-child(odd) {
    background-color: #BBBBBB;
}

.resume-list__item:nth-child(even) {
    background-color: #DDDDDD;
}

.resume-list__item.title {
    background-color: #222222 !important;
    color: white !important;
}

.resume-list_column-title {
    text-align: center !important;
}

.resume-list__content {
    display: flex;
    width: 90%;
}

.resume-list__item:not(:first-child) {
    font-family: monospace;
}

.resume-list__item_name {
    width: 40%;
    padding: 0 1em;
}

.resume-list__item_uuid {
    display: block;
    position: relative;
    width: 60%;
    padding: 0 1em;
}

.resume-list__item_uuid:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: white;
}

.resume-list__item_uuid:after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: white;
}

.resume-list__item_actions {
    width: 10%;
    padding: 0 1em;
    text-align: center;
}

.resume-list__item_actions a {
    margin: 0 0.1em;
}

.title {
    font-weight: 600;
    font-style: initial;
    display: inline-block;
    width: 6.0em;
    text-align: right;
    padding-right: 0.4em;
}

.resume-view__name {
    font-size: 2.0em;
    margin-bottom: 0.5em;
    font-style: italic;
}

.resume-edit__name {
    margin-bottom: 0.5em;
}

.resume-view__uuid,.resume-edit__uuid {
    margin-bottom: 0.5em;
}

.resume-view__edit-button,.resume-edit__add-button{
    margin-left: 2em;
    cursor: pointer;
    border: solid 1px black;
    padding: 0 0.2em;
    background-color: #DDDDDD;
}

.resume-edit__add-button,.resume-view__edit-button:hover{
    box-shadow: 0 0 2px;
}

.resume-edit__add-button,.resume-view__edit-button:active{
    box-shadow: none;
}

.resume-view__contacts,.resume-edit__contacts {
    margin-bottom: 2em;
}

.resume-view__sections-item .objective {
    font-size: 1.1em;
    font-weight: 500;
    font-style: italic;
}

.resume-view__section_title,.resume-edit__section_title{
    text-transform: uppercase;
    border-bottom: dashed 1px black;
    font-size: 1.3em;
    font-weight: 600;
    margin: 0.6em 0 0.2em 0;
}

.resume-view__section_text,.resume-edit__section_text,
.resume-view__org-name,.resume-edit__org-name{
    margin-left: 1em;
}

.resume-edit__section_text {
    display: flex;
    align-items: end;
}

.resume-edit__delete-icon,.resume-edit__add-icon {
    margin-left: 0.5em;
}

.resume-edit__delete-icon,.resume-edit__add-icon:hover {
    cursor: pointer;
}

.resume-view__section_org {
    padding-top: 0.5em;
}

.resume-view__org-name {
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
}

.resume-edit__org-name {
    display: flex;
    margin-bottom: 0.2em;
}

.resume-edit__org-name *,.resume-edit__position * {
    margin-right: 0.4em;
}

.resume-view__org-link,.resume-edit__org-link {
    margin-left: 1em;
}

.resume-view__position,.resume-edit__position {
    margin-top: 0.25em;
    margin-left: 3em;
    font-size: 0.8em;
}

.resume-edit__position {
    display: flex;
    margin-bottom: 0.2em;
}

.resume-edit__input-date {
    width: 4em;
}

.position-date {
    font-style: italic;
    font-weight: 600;
}

